
*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
  color: #fff;
}

body {
  margin: 0;
}

header {
  background-color: #d05c2e;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding: .2em 0 .3em;
}

.grain1 {
  margin: 0 1em 0 0;
  float: left;
  width: 40px;
}

.grain2 {
  margin: 0 0 0 1em;
  float: right;
  width: 40px;
}

.navbar {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: 0;
  border-top: .1em solid #a63f38;
}

.navbar ul {
  padding: 0;
  margin: 0;
}

li {
  display: inline;
  font-size: 1.125rem;
}

li:first-child {
  float: left;
}

li:last-child {
  float: right;
}

a {
  color: #fff;
  text-decoration: none;
  background-color: #d05c2e;
  border-right: .1em solid #a63f38;
  padding: .5em 2em;
  display: inline-block;
}

a:hover {
  background-color: #a63f38;
}
