
*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
  color: #fff;
}

body {
  padding: 0;
  margin: 0;
}

header {
  background-color: #d05c2e;
  text-align: center;
}

h1 {
   font-size: 2rem;
   margin: 0;
}

li {
  display: inline;
  font-size: 1.125rem;
}

a {
    color: #fff;
    text-decoration: none;
    background-color: #d05c2e;
    border: #a63f38;
    padding: .5em 0 0;
    border-radius: 5px;
    display: inline-block;
}

a:hover {
  background-color: #a63f38;
}
